<!DOCTYPE html>
<html>

<head>
  <title>
    <%= productName %>
  </title>

  <meta charset="utf-8" />
  <meta name="description" content="<%= productDescription %>" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>" />

  <!-- Favicon e ícones -->
  <link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
  <link rel="shortcut icon" href="/icons/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="CLDfit" />

  <!-- Open Graph (Facebook, LinkedIn, etc) -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="CLDfit - Seu treino mais organizado" />
  <meta property="og:description" content="Organize seus treinos como um dev de verdade com o CLDfit!" />
  <meta property="og:image" content="/icons/metatag.png" />
  <meta property="og:image:alt" content="Banner de exemplo do CLDfit" />
  <meta property="og:url" content="https://seudominio.com" />

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="CLDfit - Seu treino mais organizado" />
  <meta name="twitter:description" content="Organize seus treinos como um dev de verdade com o CLDfit!" />
  <meta name="twitter:image" content="/icons/metatag.png" />
  <meta name="twitter:image:alt" content="Banner de exemplo do CLDfit" />
</head>

<body>
  <!-- quasar:entry-point -->
</body>

</html>